
<div>
  <button (click)="goBack()">Back</button>
  
  <!-- Loading -->
  <p *ngIf="loading">Loading…</p>
  
  <!-- Error -->
  <div *ngIf="!loading && errorMessage">
    {{ errorMessage }}
  </div>
  
  <!-- Loaded -->
  <ng-container *ngIf="!loading && listing as d">
    <h1>{{ d.title }}</h1>
    <p>Price: {{ d.priceSats }} Sats</p>
  
    <div *ngIf="d.images?.length; else noImages">
      <img
        [src]="d.images?.[0]"
        [alt]="d.title"
        width="320"
        height="200"
      />
    </div>
    <ng-template #noImages>
      <p>Keine Bilder vorhanden</p>
    </ng-template>
  </ng-container>

  <button (click)="goToEdit()">Edit</button>
</div>
