<button (click)="backToDetails()" [disabled]="saving">Back</button>
<p>Edit Listing!</p>

<div>
  @if (!loading) {
    <form #f="ngForm" (ngSubmit)="onSave(f)">
      @if (errorMessage) {
        <div class="error">{{ errorMessage }}</div>
      }

      <!-- Title -->
      <input
        name="title"
        [(ngModel)]="title"
        required
        maxlength="120"
        placeholder="Titel" />

      <!-- Price in Sats -->
      <input
        name="priceUsd"
        [(ngModel)]="priceUsd"
        type="number"
        min="0"
        step="1"
        required
        placeholder="Price (USD)" />

      <input
        name="quantity"
        [(ngModel)]="quantity"
        type="number"
        min="0"
        step="1"
        required
        placeholder="Quantity" />

      <!-- Images -->
      <textarea
        name="imagesText"
        [(ngModel)]="imagesText"
        placeholder="Image URLs (each line or comma separated)">
      </textarea>

      <!-- Only clickable if something was changed and the form is valid -->
      <button type="submit" [disabled]="saving || loading || !f.dirty || !f.valid">
        @if (saving) { Editing… } @else { Edit Listing }
      </button>
    </form>
  } @else {
    <p>Lade…</p>
  }

  <div>
    @if (complete) {
      <button (click)="backToDetails()">Go to the edited listing</button>
      <h1>Editing successful!</h1>
    }
  </div>
</div>
